extends ../layout

include ../components/breadcrumb
include ../components/newsletter
include ../components/footer
include ./product-style
include ./modal

block body

  +breadcrumb
  +productStyle
  +newsletter
  +modal
  +footer