mixin topBar
  //- Topbar
  .topbar
    .container
      .row
        .col-lg-4.col-md-12.col-12
          //- Top Left
          .top-left
            ul.list-main
              li
                i.ti-headphone-alt
                |  +1 (829) 815-9560 
              li
                i.ti-email
                |  coqueteriasela@gmail.com
          //- / End Top Left
        .col-lg-8.col-md-12.col-12
          //- Top Right
          .right-content
            ul.list-main
              li
                i.ti-location-pin
                |  Ubicación
              li
                i.ti-user
                a(href='#') Mi cuenta
              li
                i.ti-power-off
                a(href='login.html#') Acceder
          //- End Top Right
  //- End Topbar