mixin breadcrumb
  .breadcrumbs
    .container
      .row
        .col-12
          .bread-inner
            ul.bread-list
              li
                a(href='index1.html')
                  | Home
                  i.ti-arrow-right
              li.active
                a(href='blog-single.html') Shop Grid