mixin footer
  footer.footer
    .footer-top.section
      .container
        .row
          .col-lg-5.col-md-6.col-12
            // Single Widget
            .single-footer.about
              .logo
                a(href='index.html')
                  img(src='images/logo-turquoise.png' alt='#')
              p.text
                | Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue,  magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.
              p.call
                | Tienes una pregunta? Puedes llamarnos 24/7
                span
                  a(href='tel:123456789') (829)815-9560
            // End Single Widget
          .col-lg-2.col-md-6.col-12
            // Single Widget
            .single-footer.links
              h4 Information
              ul
                li
                  a(href='#') About Us
                li
                  a(href='#') Faq
                li
                  a(href='#') Terms &amp; Conditions
                li
                  a(href='#') Contact Us
                li
                  a(href='#') Help
            // End Single Widget
          .col-lg-2.col-md-6.col-12
            // Single Widget
            .single-footer.links
              h4 Customer Service
              ul
                li
                  a(href='#') Payment Methods
                li
                  a(href='#') Money-back
                li
                  a(href='#') Returns
                li
                  a(href='#') Shipping
                li
                  a(href='#') Privacy Policy
            // End Single Widget
          .col-lg-3.col-md-6.col-12
            // Single Widget
            .single-footer.social
              h4 Get In Tuch
              // Single Widget
              .contact
                ul
                  li NO. 342 - London Oxford Street.
                  li 012 United Kingdom.
                  li info@eshop.com
                  li +1 (829) 815-9560
              // End Single Widget
              ul
                li
                  a(href='#')
                    i.ti-facebook
                li
                  a(href='#')
                    i.ti-twitter
                li
                  a(href='#')
                    i.ti-flickr
                li
                  a(href='#')
                    i.ti-instagram
            // End Single Widget
    // End Footer Top
    .copyright
      .container
        .inner
          .row
            .col-lg-6.col-12
              .left
                p
                  | Copyright &copy; 2020 
                  a(href='#') wjwebdevelopments
                  |   -  Todos los derechos reservados.
            .col-lg-6.col-12
              .right
                img(src='images/payments.png' alt='#')
