mixin sliderArea
  section.hero-slider
    .single-slider
      .container
        .row.no-gutters
          .col-lg-9.offset-lg-3.col-12
            .text-inner
              .row
                .col-lg-7.col-12
                  .hero-text
                    h1
                      span UP TO 50% OFF 
                      | Shirt For Man
                    p
                      | Maboriosam in a nesciung eget magnae 
                      br
                      |  dapibus disting tloctio in the find it pereri 
                      br
                      |  odiy maboriosm.
                    .button
                      a.btn(href='#') Shop Now!