mixin smallBanner
  section.small-banner.section
    .container-fluid
      .row
        .col-lg-4.col-md-6.col-12
          .single-banner
            img(src='https://via.placeholder.com/600x370' alt='#')
            .content
              p Man&apos;s Collectons
              h3
                | Summer travel 
                br
                |  collection
              a(href='#') Discover Now
        .col-lg-4.col-md-6.col-12
          .single-banner
            img(src='https://via.placeholder.com/600x370' alt='#')
            .content
              p Bag Collectons
              h3
                | Awesome Bag 
                br
                |  2020
              a(href='#') Shop Now
        .col-lg-4.col-12
          .single-banner.tab-height
            img(src='https://via.placeholder.com/600x370' alt='#')
            .content
              p Flash Sale
              h3
                | Mid Season 
                br
                |  Up to 
                span 40%
                |  Off
              a(href='#') Discover Now
